* {
  padding: 0;
  margin: 0;
  font-family: inter;
  font-weight: 500;
}
body {
  background-color: #667eea ;
}
#box {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid yellow;
  text-align: left;
  border-radius: 8px;
}
.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
  text-align: left;
  width: 24vw;
  height: 31vh;
  border-radius: 17px;
  background-color: white;
  gap: 20px;
}
#result {
    color: white;
  background-color: #5a67d8;
  width: 80px;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 6px;
}
